.about__wrapper {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  padding: 65px 40px 120px;
}

.about__image {
  margin-right: 100px;
}

.about__title {
  margin-bottom: 15px;
}

.about__description {
  margin: 0 0 20px;
  line-height: 120%;
}

.about__button-holder {
  padding: 20px 0 0;
}

.about__button {
  min-width: 180px;
  padding: 14px;
}
