.btn {
  display: block;
  font-family: $ff-roboto-condensed;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $color-deep-sky-blue;
  background-color: $color-default-white;
  border: none;
  border-radius: 3px;
  outline: 1px solid $color-deep-sky-blue;
  cursor: pointer;

  &--black-pearl {
    padding: 10px 15px;
    color: $color-default-white;
    background-color: $color-black-pearl;
    outline: 1px solid $color-default-white;
  }

  &--deep-sky-blue {
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    color: $color-default-white;
    background-color: $color-deep-sky-blue;
    outline: none;
  }
}
