.contacts {
  max-width: 375px;
  padding: 0 30px;

  @media (max-width: 1150px) {
    max-width: 220px;
    padding: 0;
    transition: max-width 0.4s, padding 0.4s;
  }

  @media (max-width: $vp-1023) {
    max-width: 375px;
    padding: 0 0 0 54px;
  }

  @media (max-width: $vp-767) {
    padding: 0;
    max-width: 100%;
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.contacts__title {
  @media (max-width: $vp-767) {
    padding: 20px 25px;
  }
}

.contacts__list {
  margin: 0;
  padding: 20px 0 0;
  list-style-type: none;

  @media (max-width: $vp-767) {
    padding: 0 25px 14px;
  }
}

.contacts__item {
  margin-bottom: 6px;
}
