.contacts {
  max-width: 375px;
  padding: 0 30px;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts__item {
  margin-bottom: 10px;
}
