.feedback {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 840px;
  padding: 170px var(--side-offset) 50px;
  background-color: $color-second-deep-sky-blue;

  @media (max-width: $vp-1023) {
    display: block;
    min-width: 768px;
    min-height: 100%;
    padding-top: 50px;
    padding-bottom: 125px;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
    padding-bottom: 86px;
  }

  &::before {
    position: absolute;
    content: "";
    border-top: 840px solid rgba(4, 24, 39, 0.5);
    border-right: 975px solid transparent;

    @media (max-width: $vp-1023) {
      display: none;
    }
  }
}

.feedback__image-holder {
  z-index: 2;
  max-width: 550px;
  height: 100%;
  padding-right: 40px;
  padding-top: 77px;

  @media (max-width: $vp-1023) {
    display: none;
  }
}
