.logo {
  min-width: 230px;

  @media (max-width: $vp-767) {
    min-width: 35px;
  }

  &--footer {
    min-width: 260px;
    margin-bottom: 36px;

    @media (max-width: $vp-1023) {
      margin-bottom: 0;
    }

    @media (max-width: $vp-767) {
      min-width: 260px;
      margin-bottom: 15px;
    }
  }
}

.logo__link {
  display: block;
  margin-right: 20px;

  @media (max-width: $vp-767) {
    padding: 5px 10px 5px 0;
  }

  &:focus {
    outline: 2px solid $color-deep-sky-blue;
    border-radius: 3px;
  }
}

.logo__link-image {
  display: none;

  @media (max-width: $vp-767) {
    display: block;
    width: 35px;
    height: 35px;
  }

  &--full {
    display: block;

    @media (max-width: $vp-767) {
      display: none;
    }
  }

  &--footer {
    display: block;

    @media (max-width: $vp-767) {
      width: 215px;
      height: 55px;
    }
  }
}
