.promo {
  min-height: 880px;
  padding: 310px var(--side-offset) 50px calc(var(--side-offset) + 124px);
  background-image: image-set(
    url("../img/background/desktop/background-intro-desktop.webp") 1x,
    url("../img/background/desktop/background-intro-desktop@2x.webp") 2x,
    url("../img/background/desktop/background-intro-desktop.jpg") 1x,
    url("../img/background/desktop/background-intro-desktop@2x.jpg") 2x,
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #53c6e0;

  @media (max-width: $vp-1023) {
    position: relative;
    min-height: 640px;
    margin-top: -100px;
    padding: 185px 50px 50px;
    background-image: image-set(
      url("../img/background/tablet/background-intro-tablet.webp") 1x,
      url("../img/background/tablet/background-intro-tablet@2x.webp") 2x,
      url("../img/background/tablet/background-intro-tablet.jpg") 1x,
      url("../img/background/tablet/background-intro-tablet@2x.jpg") 2x,
    );
  }

  @media (max-width: $vp-767) {
    min-height: 560px;
    margin-top: -65px;
    padding: 148px 25px 25px;
    background-image: image-set(
      url("../img/background/mobile/background-intro-mobile.webp") 1x,
      url("../img/background/mobile/background-intro-mobile@2x.webp") 2x,
      url("../img/background/mobile/background-intro-mobile.jpg") 1x,
      url("../img/background/mobile/background-intro-mobile@2x.jpg") 2x,
    );
  }
}

.promo__title {
  margin-bottom: 40px;

  @media (max-width: $vp-1023) {
    margin-bottom: 7px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 8px;
  }
}

.promo__description {
  max-width: 685px;
  margin: 0;
  margin-bottom: 48px;

  @media (max-width: $vp-1023) {
    margin-bottom: 57px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 45px;
  }
}

.promo__button {
  display: inline-block;

  @media (max-width: $vp-1023) {
    margin-left: 46px;
  }

  @media (max-width: $vp-767) {
    display: none;
  }
}

.promo__button-mobile {
  display: none;

  @media (max-width: $vp-767) {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    text-align: center;
  }
}
