.services {
  background-color: $color-black-pearl;
}

.services__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 70px 40px 140px;
}

.services__title {
  margin-bottom: 50px;
  color: $color-default-white;
}

.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 85px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services__link {
  position: relative;
  display: block;
  min-height: 650px;
  padding: 50px 90px 50px 40px;
  background-repeat: no-repeat;
  background-size: cover;

  &--first {
    background-image: url("../img/promo-services/desktop/service-desktop-1.jpg");
  }

  &--second {
    background-image: url("../img/promo-services/desktop/service-desktop-2.jpg");
  }

  &--third {
    background-image: url("../img/promo-services/desktop/service-desktop-3.jpg");
  }
}

.services__link-title {
  margin: 0;
  font-size: 20px;
  line-height: 128%;
  font-weight: 400;
  color: $color-default-white;
}

.services__link-button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
}

.services__link-button-arrow {
  display: block;
  width: 6px;
  height: 6px;
  border-top: 1px solid $color-default-white;
  border-right: 1px solid $color-default-white;
  transform: rotate(45deg);
}
