.services {
  padding: 65px var(--side-offset) 140px;
  background-color: $color-black-pearl;

  @media (max-width: $vp-1023) {
    padding-top: 60px;
    padding-bottom: 75px;
  }

  @media (max-width: $vp-767) {
    padding-top: 48px;
    padding-bottom: 86px;
  }
}

.services__title {
  margin-bottom: 56px;
  line-height: 130%;
  color: $color-default-white;

  @media (max-width: $vp-1023) {
    margin-bottom: 40px;
  }

  @media (max-width: $vp-767) {
    display: none;
  }

  &--mobile {
    display: none;

    @media (max-width: $vp-767) {
      display: block;
      margin-bottom: 29px;
    }
  }
}

.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 85px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: $vp-1023) {
    display: block;
  }
}

.services__item {
  @media (max-width: $vp-1023) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.services__link {
  position: relative;
  display: block;
  min-height: 650px;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #093657;

  @media (max-width: $vp-1023) {
    min-height: 250px;
    padding: 38px 46px;
  }

  @media (max-width: $vp-767) {
    padding: 26px 30px;
  }

  &--first {
    background-image: image-set(
      url("../img/promo-services/desktop/service-desktop-1.webp") 1x,
      url("../img/promo-services/desktop/service-desktop-1@2x.webp") 2x,
      url("../img/promo-services/desktop/service-desktop-1.jpg") 1x,
      url("../img/promo-services/desktop/service-desktop-1@2x.jpg") 2x,
    );

    @media (max-width: $vp-1023) {
      background-image: image-set(
        url("../img/promo-services/tablet/service-tablet-1.webp") 1x,
        url("../img/promo-services/tablet/service-tablet-1@2x.webp") 2x,
        url("../img/promo-services/tablet/service-tablet-1.jpg") 1x,
        url("../img/promo-services/tablet/service-tablet-1@2x.jpg") 2x,
      );
    }

    @media (max-width: $vp-767) {
      background-image: image-set(
        url("../img/promo-services/mobile/service-mobile-1.webp") 1x,
        url("../img/promo-services/mobile/service-mobile-1@2x.webp") 2x,
        url("../img/promo-services/mobile/service-mobile-1.jpg") 1x,
        url("../img/promo-services/mobile/service-mobile-1@2x.jpg") 2x,
      );
    }
  }

  &--second {
    background-image: image-set(
      url("../img/promo-services/desktop/service-desktop-2.webp") 1x,
      url("../img/promo-services/desktop/service-desktop-2@2x.webp") 2x,
      url("../img/promo-services/desktop/service-desktop-2.jpg") 1x,
      url("../img/promo-services/desktop/service-desktop-2@2x.jpg") 2x,
    );

    @media (max-width: $vp-1023) {
      background-image: image-set(
        url("../img/promo-services/tablet/service-tablet-2.webp") 1x,
        url("../img/promo-services/tablet/service-tablet-2@2x.webp") 2x,
        url("../img/promo-services/tablet/service-tablet-2.jpg") 1x,
        url("../img/promo-services/tablet/service-tablet-2@2x.jpg") 2x,
      );
    }

    @media (max-width: $vp-767) {
      background-image: image-set(
        url("../img/promo-services/mobile/service-mobile-2.webp") 1x,
        url("../img/promo-services/mobile/service-mobile-2@2x.webp") 2x,
        url("../img/promo-services/mobile/service-mobile-2.jpg") 1x,
        url("../img/promo-services/mobile/service-mobile-2@2x.jpg") 2x,
      );
    }
  }

  &--third {
    background-image: image-set(
      url("../img/promo-services/desktop/service-desktop-3.webp") 1x,
      url("../img/promo-services/desktop/service-desktop-3@2x.webp") 2x,
      url("../img/promo-services/desktop/service-desktop-3.jpg") 1x,
      url("../img/promo-services/desktop/service-desktop-3@2x.jpg") 2x,
    );

    @media (max-width: $vp-1023) {
      background-image: image-set(
        url("../img/promo-services/tablet/service-tablet-3.webp") 1x,
        url("../img/promo-services/tablet/service-tablet-3@2x.webp") 2x,
        url("../img/promo-services/tablet/service-tablet-3.jpg") 1x,
        url("../img/promo-services/tablet/service-tablet-3@2x.jpg") 2x,
      );
    }

    @media (max-width: $vp-767) {
      background-image: image-set(
        url("../img/promo-services/mobile/service-mobile-3.webp") 1x,
        url("../img/promo-services/mobile/service-mobile-3@2x.webp") 2x,
        url("../img/promo-services/mobile/service-mobile-3.jpg") 1x,
        url("../img/promo-services/mobile/service-mobile-3@2x.jpg") 2x,
      );
    }
  }

  &:hover {
    opacity: 0.7;

    .services__link-button {
      background-color: #1e74d6;
    }
  }

  &:active {
    opacity: 0.9;

    .services__link-button {
      background-color: $color-deep-sky-blue;
    }
  }
}

.services__link-title {
  max-width: 152px;
  margin: 0;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  color: $color-default-white;

  @media (max-width: $vp-1023) {
    max-width: 150px;
  }

  @media (max-width: $vp-767) {
    max-width: 135px;
    font-size: 18px;
    line-height: 30px;
  }
}

.services__link-button {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;

  @media (max-width: $vp-767) {
    width: 40px;
    height: 40px;
    padding: 15px 17px;
  }
}

.services__link-button-arrow {
  display: block;
  width: 6px;
  height: 6px;
  border-top: 1px solid $color-default-white;
  border-right: 1px solid $color-default-white;
  transform: rotate(45deg);

  @media (max-width: $vp-767) {
    width: 5px;
    height: 5px;
  }
}
