.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 9px;
  padding: 0;
  list-style-type: none;

  @media (max-width: $vp-1023) {
    margin: 0 -5px 0 9px;
  }

  @media (max-width: $vp-767) {
    justify-content: center;
    margin: 0;
  }
}

.social__item {
  margin-bottom: 5px;

  &:not(:last-child) {
    margin-right: 15px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 0;
  }
}

.social__link {
  display: flex;
  padding: 5px;

  &:hover {
    opacity: 0.7;
  }

  &:focus-visible {
    outline: 2px solid $color-deep-sky-blue;
    border-radius: 3px;
  }

  &:active {
    opacity: 0.5;
  }
}
