.title {
  margin: 0;

  &--big {
    font-size: 80px;
    line-height: 100%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    color: $color-alice-blue;

    @media (max-width: $vp-1023) {
      font-size: 64px;
    }

    @media (max-width: $vp-767) {
      font-size: 36px;
      line-height: 120%;
    }
  }

  &--medium {
    font-size: 36px;
    line-height: 120%;
    font-weight: 400;
    color: $color-black-pearl;

    @media (max-width: $vp-767) {
      font-size: 28px;
      line-height: 140%;
    }
  }

  &--small {
    font-size: 24px;
    line-height: 140%;
    font-weight: 400;
    color: $color-deep-sky-blue;

    @media (max-width: $vp-767) {
      font-size: 20px;
    }
  }

  &--footer {
    position: relative;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    color: $color-default-white;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &--footer-item {
    font-family: $ff-mono;
    font-size: 16px;
    line-height: 135%;
    font-weight: 400;
    color: $color-default-white;
    opacity: 70%;

    &:hover {
      opacity: 1;
    }

    &:focus-visible {
      outline: 2px solid $color-default-white;
    }

    &:active {
      opacity: 0.5;
    }

    @media (max-width: $vp-767) {
      font-size: 14px;
      line-height: 19px;
    }
  }
}
