:root {
  --side-offset: calc(50vw - 610px);

  @media (max-width: $vp-1319) {
    --side-offset: 50px;
  }

  @media (max-width: $vp-767) {
    --side-offset: 25px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
