// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette

$color-neon-blue:                   #2c39f2;
$color-alice-blue:                  #f2f5f6;
$color-deep-sky-blue:               #00b2ff;
$color-second-deep-sky-blue:        #00b3ff;
$color-black-pearl:                 #041827;
$color-second-black-pearl:          #041427;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

$fz-default:                        16px;
$ff-roboto-condensed:               "Roboto Condensed", "Arial", sans-serif;
$ff-roboto-medium:                  "Roboto Medium", "Arial", sans-serif;
$ff-mono:                           "PT Mono", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-767:                            767px;
$vp-1023:                           1023px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
